html, body, h1,header,p {margin: 0; padding: 0px; }

header {padding: 10px; background-color: yellow;}

header h1 {font-size: 25px; ; }

#link {display: flex;
justify-content: flex-end; }

.so{margin-right: 10px; margin-right: 10px; }






a{text-decoration: none;}

body{height: 2000px; background-color: tan; width: 1000px;}

#Dashboard { border: 5px solid black; width: 300px; line-height: 26.5px;
 background-color: white;
 margin:10px; 
 }

 #budget {border:5px solid black; background:white;line-height: 30px;margin:10px;width: 300px;}




#checkbooks {border: 5px solid black;  width:300px;  background-color: white;line-height: 30px;margin:10px;  }








#top3 { height: 550px; display: flex; justify-content: flex-start; align-items: flex-start; justify-content: space-between; margin:10px; }


#money { border:5px solid black; width: 300px;  background-color: white; line-height: 40px; margin:10px; }

#love {border:5px solid black; width: 300px;  background-color: white; line-height: 40px; margin:10px;}


#hate {border:5px solid black; width: 300px;  background-color: white; line-height: 40px; margin:10px;}


 #nextthree {display: flex; align-items: flex-start; }

 #photos {display: flex; padding: 100px; justify-content: space-between;}


.para {margin-left: 10px; margin-right:10px;}

.moreinfo {text-align: center; border-width: 100px; background: yellow; text-decoration-color: white;width: 250px; margin: 20px auto; padding: 5px; ;}


